.sidebar {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  background: rgba($olive, .8);
  border-right: 1px solid #8b8b8b;
  padding: 20px 10px 0 20px;
}

.js_shuffle {
  position: relative;
  display: inline-block;
  width: 110px;
  padding: 5px 10px;
  margin: 10px auto 20px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-size: 1.25em;
  font-weight: bold;
  border: 1px solid $light-grey;
  background: $near-white;
  transition: background-color, top 300ms;
  box-shadow: 0 8px 20px -10px $black;
}
.js_shuffle:active{
  top: 4px;
  box-shadow: none;
}
.js_shuffle:hover {
  background-color: $white;
}

.sidebar__filter {
  margin-bottom: 40px;
}

.sidebar__filter-title {
  margin: 0 0 10px;
  cursor: default;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar__filter-item {
  width: 100%;
  margin: 5px 0 5px 10px;
  user-select: none;
}

.sidebar__filter-item label:hover {
  cursor: pointer;
}
