.sidebar {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  background: rgba($olive, .8);
  border-right: 1px solid #8b8b8b;
  padding: 60px 10px 0 20px;
}
@media all and (max-width: $sm-breakpoint) {
  .sidebar {
    display: none;
  }
}

.js_shuffle {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  user-select: none;
  border: 2px dashed #49497f;
  border-radius: 50%;
  opacity: 0.85;
  transition: opacity, top 300ms;
}
.js_shuffle:active{
  top: 4px;
}
.js_shuffle:hover {
  opacity: 1;
  border-color: yellow;
}

.sidebar__filter {
  margin-bottom: 40px;
}

.sidebar__filter-title {
  margin: 0 0 10px;
  cursor: default;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar__filter-item {
  width: 100%;
  margin: 5px 0 5px 10px;
  user-select: none;
}

.sidebar__filter-item label:hover {
  cursor: pointer;
}
