html {
    font-family: $font-body;
}
body {
    height: 100vh;
    margin: 0;
}
div {
    box-sizing: border-box;
}


/*
 * Helper classes
 */
.hide {
    display: none;
}


/*
 * Layout
 */
.page {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 250px 1fr;
}
header {
    grid-column: 1 / 3;
}
footer {
    grid-column: 3 / 1;
}


// 1 col grid for 0 - 900px
.idea-list {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 40px;
    padding: 20px;

    overflow-y: scroll;
    overflow-x: hidden;

}
// 2 col grid for > 900px
@media all and (min-width: 900px) {
    .idea-list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0;
    }
}
// 3 col grid for > 1200px
@media all and (min-width: 1200px) {
    .idea-list {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
    }
}


/*
 * Darkmode
 */
body.darkmode {
    background: rgb(33, 33, 33);
    color: rgb(230, 230, 230);
}


/*
 * Lightmode
 */
body.lightmode {

}
