<div class='sidebar'>

    <button class='js_shuffle'>Shuffle</button>

    <section class='sidebar__filter'>
        <h3 class='sidebar__filter-title'>Skill Level</h3>
        <ul class='input-group'>
            <li class='sidebar__filter-item'><label for='beginner' ><input id='beginner' class='js_filter' name='beginner' type='checkbox' checked /> Beginner</label></li>
            <li class='sidebar__filter-item'><label for='intermediate' ><input id='intermediate' class='js_filter' name='intermediate' type='checkbox' checked /> Intermediate</label></li>
            <li class='sidebar__filter-item'><label for='advanced' ><input id='advanced' class='js_filter' name='advanced' type='checkbox' checked /> Advanced</label></li>
        </ul>
    </section>

    <section class='sidebar__filter'>
        <h3 class='sidebar__filter-title'>Project Type</h3>
        <ul class='input-group'>
            <li class='sidebar__filter-item'><label for='games'><input id='games' class='js_filter' name='games' type='checkbox' checked /> Games</label></li>
            <li class='sidebar__filter-item'><label for='apps'><input id='apps' class='js_filter' name='apps' type='checkbox' checked /> Apps</label></li>
            <li class='sidebar__filter-item'><label for='websites'><input id='websites' class='js_filter' name='websites' type='checkbox' checked /> Websites</label></li>
            <li class='sidebar__filter-item'><label for='art'><input id='art' class='js_filter' name='art' type='checkbox' checked /> Art</label></li>
            <li class='sidebar__filter-item'><label for='puzzles'><input id='puzzles' class='js_filter' name='puzzles' type='checkbox' checked /> Puzzles</label></li>
        </ul>
    </section>

    <section class='sidebar__filter'>
    <h3 class='sidebar__filter-title'>Environment</h3>
    <ul class='input-group'>
        <li class='sidebar__filter-item'><label for='graphical'><input id='graphical' class='js_filter' name='graphical' type='checkbox' checked /> Graphical</label></li>
        <li class='sidebar__filter-item'><label for='text-based'><input id='text-based' class='js_filter' name='text-based' type='checkbox' checked /> Text-based</label></li>
        <li class='sidebar__filter-item'><label for='cli'><input id='cli' class='js_filter' name='cli' type='checkbox' checked /> Command line</label></li>
    </ul>
    </section>

    <section class='sidebar__filter'>
        <h3 class='sidebar__filter-title'>Concepts</h3>
        <ul class='input-group'>
            <li class='sidebar__filter-item'><label for='ai'><input id='ai' class='js_filter' name='ai' type='checkbox' checked /> AI</label></li>
            <li class='sidebar__filter-item'><label for='oop'><input id='oop' class='js_filter' name='oop' type='checkbox' checked /> OOP</label></li>
            <li class='sidebar__filter-item'><label for='hacking'><input id='hacking' class='js_filter' name='hacking' type='checkbox' checked /> Hacking</label></li>
            <li class='sidebar__filter-item'><label for='algorithms'><input id='algorithms' class='js_filter' name='algorithms' type='checkbox' checked /> Algorithms</label></li>
            <li class='sidebar__filter-item'><label for='data-structures'><input id='data-structures' class='js_filter' name='data-structures' type='checkbox' checked /> Data Structures</label></li>
        </ul>
    </section>
</div>
