---
layout: default
title: Home
css_class: home
---
<main class='idea-list'>
    {% for post in site.posts %}
    <div class='idea {{ post.tags | join: " tag__" | prepend: "tag__" }}'>
        <div class='idea__left'>
            {% if post.image %}
            <img class='idea__img' src='assets/images/ideas/{{ post.image }}' alt='' />
            {% endif %}
<!--            <label class='idea__claps'>-->
<!--                <span class='clap__num'>0</span>-->
<!--                <button class='clap__btn'>👏</button>-->
<!--            </label>-->
        </div>
        <div class='idea__right'>
            <h4 class='idea__title'>{{ post.name }}</h4>
            <p class='idea__desc'>{{ post.description }}</p>
            <p class='idea__tags'>tags:
                {% for tag in post.tags %}
                <span class='idea__tag'>{{ tag }}</span>,
                {% endfor %}
            </p>
        </div>
    </div>
    {% else %}
    <p class='idea-list__empty'>Hmmm.. no results match these filters.</p>
    {% endfor %}
</main>
